##################################
# Terraform
##################################
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
terraform.tfvars.json
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc


##################################
# Azure / Credentials
##################################
*.pem
*.key
*.pfx
*.crt
*.env
.env
secrets.tfvars


##################################
# GitHub Actions
##################################
.github/workflows/*.log


##################################
# Editors & OS
##################################
# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store


##################################
# Logs & temp
##################################
*.log
*.tmp
*.bak
